.edit-wrapper {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background: var(--dark);
  z-index: 1000;
  word-wrap: break-word;
  display: flex;
}

.edit-dashboard-wrapper {
  flex: 0 1 80%;
  background: var(--light);
  color: var(--dark);
}