.outer-wrapper {
  max-width: 100%;
  overflow: hidden;
  font-family: Title;
}

.background-image {
  position: absolute;
  filter: brightness(0.2);
  mix-blend-mode: darken;
  height: 100vh;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}