.outer-wrapper {
  max-width: 100%;
}

.body-wrapper {
  margin-top: 70px;
  margin-bottom: 20px;
  position: relative;
  z-index: 10;
  padding: 20px;
  padding-bottom: 5px;
  height: calc(var(--vh) * 100 - 90px);
  overflow: auto;
}

.background-image-container {
  position: absolute;
  height: calc(var(--vh) * 100 - 70px);
  width: 100vw;
  top: 70px;
  overflow: hidden;
}

.background-image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  filter: brightness(0.2);
  mix-blend-mode: darken;
  object-fit: cover;
  height: 110%;
}